# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment (keep .env.example committed)
.env

# Docker
**/.docker/

# Postgres / volumes
pgdata/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
db.sqlite3.bak
