{% extends 'accounts/dashboards/base_dashboard.html' %}

{% block title %}Assign Events | {{ meet.name }}{% endblock %}

{% block page_title %}Assign Events{% endblock %}
{% block page_subtitle %}Meet: {{ meet.name }}{% endblock %}

{% block content %}
<div class="glass-card" style="max-width:800px;">
    <form method="post">
        {% csrf_token %}

        <h3>Select Events</h3>

        <ul class="list">
            {% for event in events %}

                {% if event.gender_boys %}
                <li class="list-item">
                    <label>
                        <input type="checkbox"
                            name="events"
                            value="{{ event.id }}"
                            {% if event.id in assigned_event_ids %}checked{% endif %}>
                        👦 {{ event.name }}
                        <small>
                            ({{ event.event_type }} | Boys)
                        </small>
                    </label>
                </li>
                {% endif %}

                {% if event.gender_girls %}
                <li class="list-item">
                    <label>
                        <input type="checkbox"
                            name="events"
                            value="{{ event.id }}"
                            {% if event.id in assigned_event_ids %}checked{% endif %}>
                        👧 {{ event.name }}
                        <small>
                            ({{ event.event_type }} | Girls)
                        </small>
                    </label>
                </li>
                {% endif %}

            {% empty %}
                <li class="list-item">No events available</li>
            {% endfor %}
            </ul>



        <div style="margin-top:1.5rem;">
            <button type="submit" class="btn-action">
                💾 Save Events
            </button>

            <a href="{% url 'accounts:faculty_coordinator_dashboard' %}"
               class="btn-action btn-outline">
                ⬅ Back
            </a>
        </div>
    </form>
</div>
{% endblock %}
