<a href="{% url 'accounts:login' %}">Coordinator Login</a>

<form method="post">
  {% csrf_token %}

  <input type="text" name="full_name" placeholder="Full Name" required>

  <input type="text" name="register_number" placeholder="Register Number" required>

  <select name="department" required>
    <option value="">Select Department</option>
    {% for dept in departments %}
      <option value="{{ dept.id }}">{{ dept.name }}</option>
    {% endfor %}
  </select>

  <select name="semester" required>
    <option value="">Select Semester</option>
    {% for sem in semesters %}
      <option value="{{ sem }}">{{ sem }}</option>
    {% endfor %}
  </select>

  <label>
    <input type="radio" name="gender" value="MALE" required> Male
  </label>
  <label>
    <input type="radio" name="gender" value="FEMALE"> Female
  </label>

  <h3>Individual Events (Max 3)</h3>
  {% for me in meet_events %}
    {% if me.event.event_type == "INDIVIDUAL" %}
      <label>
        <input type="checkbox" name="events" value="{{ me.id }}">
        {{ me.event.name }}
      </label><br>
    {% endif %}
  {% endfor %}

  <h3>Team Events (Max 2)</h3>

{% for me in meet_events %}
  {% if me.event.event_type == "TEAM" %}
    <label>
      <input type="checkbox" name="team_events" value="{{ me.id }}">
      {{ me.event.name }}
      <!-- <small>
        ({{ me.event.max_team_size }} per department)
      </small> -->
    </label><br>
  {% endif %}
{% endfor %}


  <button type="submit">Register</button>
</form>
